@using C9playlist.Models
@model C9playlist.Models.IndexPageViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Generate your playlist</h1>
<section class="row bg-success padding-medium">
 @using (Html.BeginForm())
 {
     <section class="col-md-12 ">
        <section class="col-md-4 form-group">
             <label>
                 Artist Name
                 @Html.EditorFor(model => model.SearchParams.ArtistName, new { htmlAttributes = new { @class = "form-control" } })
             </label>
         </section>
         <section class="col-md-4 form-group">
             <label>
                 Album Name
                 @Html.EditorFor(model => model.SearchParams.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
             </label>
         </section>
         <section class="col-md-4 form-group">
             <label>
                 Song Name
                 @Html.EditorFor(model => model.SearchParams.TrackName, new { htmlAttributes = new { @class = "form-control" } })
             </label>
         </section>
         <section class="col-md-4 form-group">
             <label>
                 Playlist Name
                 @Html.EditorFor(model => model.SearchParams.PlayListName, new { htmlAttributes = new { @class = "form-control" } })
             </label>
         </section>
         <section class="col-md-4 form-group">
             <label>
                 Result Type
                 @Html.DropDownList("ResultType",
                        EnumHelper.GetSelectList(typeof(ItemType)),
                        new { @class = "form-control col-md-4" }
                        )
             </label>
         </section>

     
     </section>
     <section class="col-md-12 text-right"><input type="submit" value="Generate List" class="btn btn-default" /></section>
 }
</section>
